/* Reseteo de espacipos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/* variables*/
:root{
  --color-background: #313e51;
  --color-question: #bdd72d;
  --color-option-background: #3c4c67;
  --color-option: #c5bfbf;
  --color-option-hover: #000;

  --size-question: 2rem;
  --size-option: 1.8rem;  
}

/*fuente*/
@font-face{
  font-family: 'Departure mono';
  src: url('./assets/fonts/DepartureMono-Regular.otf')
}

body{
  background-color: var(--color-background);
  font-family: 'Departure mono';  
}

.pregunta{
  color: var(--color-question);
  font-size: var(--size-question);
  margin: 8px 8px 32px;
}

.opcion{
  background-color: var(--color-option-background);
  color: var(--color-option);
  margin: 8px;
  padding: 4px;
  font-size: var(--size-option);
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    background-color: var(--color-question);
    color: var(--color-option-hover);
  }
}