/* Reseteo de espacipos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/* variables*/
:root{
  --color-foondo: #313e51;
  --color-pregunta: #bdd72d;
  --color-fondo-opcion: #3c4c67;
  --color-opcion: #c5bfbf;
  --color-opcion-hover: #000;

  --tamaño-pregunta: 2rem;
  --tamaño-opcion: 1.8rem;  
}

/*fuente*/
@font-face{
  font-family: 'Departure mono';
  src: url('./assets/fonts/DepartureMono-Regular.otf')
}

body{
  background-color: var(--color-foondo);
  font-family: 'Departure mono';  
}

.pregunta{
  color: var(--color-pregunta);
  font-size: var(--tamaño-pregunta);
  margin: 8px 8px 32px;
}

.opcion{
  background-color: var(--color-fondo-opcion);
  color: var(--color-opcion);
  margin: 8px;
  padding: 4px;
  font-size: var(--tamaño-opcion);
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    background-color: var(--color-pregunta);
    color: var(--color-opcion-hover);
  }
}